.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
    display: flex;              /*Enable object to centre*/
    align-items: center;        /*Centre on the Y axis*/
    justify-content: center;    /* Centre on the X axis*/
}

.box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;

}