.header {
    font-family: monospace;
    background: papayawhip;
    display: flex;
    align-items: center;
    margin: 0px, 10px, 10px, 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-links{
    color: rebeccapurple;
    align-content: flex-start;
}

.right-links {
    color: rebeccapurple;
    align-content: flex-end;
    position: absolute;
    right: 40px;
}

ul {
    list-style-type: none; /* Remove the dots on the list items*/
    display: flex;

}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin-right: 10px;
}